{% extends 'base.html.twig' %}

{% block title 'Gestion des articles' %}

{% block content %}
    <div class="container mt-4">
        <h2>Gérer les articles</h2>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        <div class="text-end mx-5">
            <a href="{{ path('admin.post.new') }}" class="btn btn-outline-dark">Créer un article</a>
        </div>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>
                        <a href="{{ path('admin.post.edit', {id: post.id}) }}"
                           class="btn btn-outline-primary">Edition
                        </a>

                        <form method="post" action="{{ path('admin.post.delete', {id: post.id}) }}"
                              style="display: inline-block"
                              onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette article ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                            <button class="btn btn-outline-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}