{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Etape 2{% endblock %}

{% block content %}
<section class="container mt-4">

    <h2>Mot de passe oublié - Etape 2</h2>

    {{ form_start(forgotPasswordFormStep2) }}

    <div class="row mt-5">
        <div class="col-md-6">
            {{ form_row(forgotPasswordFormStep2.password.first) }}
        </div>
        <div class="col-md-6">
            {{ form_row(forgotPasswordFormStep2.password.second) }}
        </div>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-outline-dark">Modifier mon mot de passe</button>
        <br>
        <small>Ce lien sera invalide à {{ passwordMustBeModifiedBefore }}</small>
    </div>
    {{ form_end(forgotPasswordFormStep2) }}
</section>

{% endblock %}


